[2017-04-06 23:08] gauthamzz opened #3 "Add chrome extension link in Readme"

[2017-04-07 03:19] mubaris commented on #3
:+1:

[2017-04-07 03:19] #3 closed

[2017-04-19 02:48] mubaris opened #4 "Add Language Sorting Functionality"
It would be awesome if there's a method to sort out projects according to programming languages they used.

[2017-04-19 02:50] mubaris opened #5 "UI Ideas?"
Anything related to UI can be discussed here. It can be new or modification of current UI.

[2017-04-29 20:11] haganbmj opened #6 "Allow users to add and remove usernames"
Allow users to add watched usernames.
- Persist this list to localStorage.

[2017-04-29 20:13] mubaris commented on #6
Good suggestion. Thanks!!

I'll implement this.

:+1:

[2017-04-29 20:15] haganbmj opened #7 "UI: Indicate which username's Starred list an item comes from"
Add the username that a particular item came from.

[2017-04-29 23:12] haganbmj opened #9 "Hide Description if not available"
If a repository does not have a description set then `null` is displayed.

[2017-04-30 05:07] #7 closed

[2017-04-30 05:08] mubaris commented on #9
I'll work on that :+1:

[2017-05-05 07:52] raulvillares commented on #9
@mubaris do you mind if I work on that? I'm looking for my first contribution to the community and I think this issue is the right one. Besides, I will like to go on further colaborating to this project.

[2017-05-05 08:01] mubaris commented on #9
This project is always open to contributions. Also, at the moment I am too busy with my exams. So, @raulvillares please feel free to collaborate. Thanks :+1:

[2017-05-05 21:32] #9 closed

[2017-05-06 10:52] raulvillares commented on #4
Do you think it would be useful a filter selection? [Something like the right side of this page](https://github.com/search?utf8=✓&q=up-for-grabs&type=).

[2017-05-07 00:13] mubaris commented on #4
Well, that's what I had in my mind. @raulvillares It will be cool if you work on that.

[2017-05-08 09:43] dchan3 commented on #5
Here's what I think would be good for this project in terms of UI:
- search and filter bar (similar to that of up-for-grabs.net)
- pagination instead of infinite scroll

[2017-05-08 12:12] mubaris commented on #5
I was thinking of Language filters. I'll do it pretty soon.

The problem with pagination is that the number of results are limited to some value, I don't know why. If we can figure out that, we can implement pagination.

[2017-05-08 13:09] raulvillares commented on #4
I'm on it.

[2017-05-08 13:41] raulvillares opened #11 "Repeated projects when scroll down"
You keep getting the same projects time and time again when you scroll down.

[2017-05-08 13:59] mubaris commented on #11
I see now. It wasn't there before. I don't know why it's happening.

[2017-05-08 19:42] raulvillares commented on #11
Maybe you didn't notice it?

The getData function is retrieving **and rendering** the whole data everytime is called (at the beginning and everytime you scroll down).

A possible solution could be change getData so it just stores data in an array (**no rendering**). Then a new function will render that data by blocks of, for example, 10. This new function will be called at the beginning and everyt

[2017-05-09 05:17] mubaris commented on #11
I was using that method, but the data we are getting are **very large** and the it used hell lot of memory.

[2017-05-09 08:41] raulvillares commented on #11
You're right. Maybe now is not a problem because the total number of projects starred by all the github users selected is (more or less) 72.

But if the number of users selected grows (and specially if the application's users are allowed to add and remove github users in the future) storing all data in memory is not an acceptable solution.

Still, there's a need for rendering the data "by blocks".

[2017-05-09 11:46] mubaris commented on #11
Doing by this will be better. I'll look into it.

[2017-05-14 21:24] raulvillares commented on #11
Shouldn't this issue be closed? Thanks.

[2017-05-16 05:40] #11 closed

[2017-05-24 21:03] alejandronanez opened #15 "Add some tooling."
What about adding some eslint / prettier / .editorconfig or maybe some build system?

I'll be down for helping with some of those.

Thanks!

And great project BTW

[2017-05-25 07:29] raulvillares opened #17 "Modules"
Because the project is growing, interdependencies between different parts are becoming difficult to understand and to change.

Modulalization will help. Options seem to be:

- Module pattern
- CommonJS modules
- AMD (Asynchronous Module Definition)

http://eloquentjavascript.net/10_modules.html

[2017-05-25 11:08] mubaris commented on #17
Seems like a good suggestion.

[2017-05-25 11:11] mubaris commented on #15
Thanks for the suggestion @alejandronanez. Actually, I was planning to setup Travis CI for now. And I'm always welcome to contributions. Send a PR.

[2017-05-25 12:05] mubaris opened #18 "Efficient Language Selector"
The current language selector is fine. But If we could have language selector in a form of a select, it would really easy to interact with the platform.

We can create a select tag with options of popular progamming languages. And when the user selects an option we display only the projects which is written in the specified language. Which can done by selecting language from the API response langu

[2017-05-25 12:08] mubaris commented on #6
@maiquynhtruong Implemented part of this issue in #16 , but we need to make it permanent by adding it to `localStorage`. Till that point, this issue will be open.

[2017-05-25 12:15] mubaris opened #19 "Selector UI fixes"
We need to change the UI of `Language Selector` and `Username Selector`. Here is the things to do.

- [x] Change color of Username Selector to `Orange` color used in the project.
- [x] Reduce the font size of both selectors by a small factor.
- [ ] Reduce the font of text like `Show more languages`, `Show less username`, `Add more username` & `Remove username`.

[2017-05-25 12:35] mubaris opened #20 "Building a backend"
The curiosity project has been growing since the last few days. From the comments in the issues and PRs, what I find is that we might be needing a backend. I would like to choose `NodeJS`. I need suggestions from all of you. The following points will be the discussion agenda.

**Any kind of opinions are welcome**

* Web Framework - **ExpressJS** is the best option.
* DataBase to be used
* Should w

[2017-05-25 12:37] maiquynhtruong commented on #6
is there anyway we can change usernames.js using javascript?

[2017-05-25 12:46] mubaris commented on #6
In client side JS we can't change files. ie We don't have permission to do **File I/O**. But what we can do is we can store the username array in `localStorage`. Then we can add/remove/modify the username array.

* [HTMLDog Local Storage](http://htmldog.com/guides/javascript/advanced/localstorage/)
* [Mozilla Developer Network Local Storge Tutorial](https://developer.mozilla.org/en/docs/Web/API/Wi

[2017-05-25 12:46] mubaris commented on #19
CC: @maiquynhtruong

[2017-05-25 12:50] mubaris commented on #4
We have implemented the basic Language Filter. So, I'm closing this now. And #18 Will open

[2017-05-25 12:50] #4 closed

[2017-05-25 13:14] alejandronanez commented on #15
Sounds good!

Will do then!
On Thu, May 25, 2017 at 6:11 AM Mubaris NK <notifications@github.com> wrote:

[2017-05-25 13:22] mubaris opened #21 "Fix Codacy Issues"
We have over 100 issues in Codacy in **Code Style, Error Prone & Security** on 25/05/2017.

It's all easy to fix. Check it.

[Codacy issues](https://www.codacy.com/app/mubaris/curiosity/issues)

[2017-05-25 13:32] mubaris commented on #15
@alejandronanez Maybe you wanna checkout [coala](https://github.com/coala/coala) to combine **ESlint** & **csslint**.

If you're working on it, make a new branch for it. Then send PR. :smile:

[2017-05-25 13:42] alejandronanez commented on #15
Cool! Will check that out!
On Thu, May 25, 2017 at 8:32 AM Mubaris NK <notifications@github.com> wrote:

[2017-05-25 16:16] mubaris commented on #19
@maiquynhtruong I have edited the comment, now you need to reduce the font of specified texts to make it look symmetric. So, send a PR :smile:

[2017-05-25 17:50] maiquynhtruong commented on #19
I don't know how to do preview, so I took a snapshot

![image](https://cloud.githubusercontent.com/assets/10360577/26463041/0c8c63ec-4151-11e7-9c78-81fd9a9d20f2.png)

Do you want something like this?

[2017-05-25 17:55] mubaris commented on #19
Yep. That's what I want. Thank you.

On May 25, 2017 11:20 PM, "Mai Truong" <notifications@github.com> wrote:

[2017-05-26 01:38] #19 closed

[2017-05-26 03:37] maiquynhtruong commented on #6
I did not know about `localStorage` before. Looking the links you had I can I think I can implement that. I think at first all the usernames from usernames.js will be stored in local storage and the program will use that local storage from there.

[2017-05-26 04:01] mubaris commented on #6
Yep. That's what we want.

[2017-05-26 04:30] #21 closed

[2017-05-26 12:08] raulvillares commented on #15
Is it possible that some of those new tooling changed some varibables (var or let keyword) to constants (const keyword) ?

For example: **const projectsPerPage** at main.js can't be modified from languageSelector.js (It was a **var projectsPerPage** at previous commit). I'm fixing it for isse #18 but I'm afraid it would happen again.

This is another problem of the current lack of modularization (

[2017-05-26 12:16] mubaris commented on #15
I'm working on #17 , I think I will use `webpack`

If you declare varibles on the top, it won't be an issue. I think that's okay. Then you can declare `var`. If you want to declare `var` in the middle of other code, use `"no-var": "off"` in `.eslintrc.json`

[2017-05-26 12:46] alejandronanez commented on #15
I think the change from var->const was possible. And yes that's a problem of having globals leaking all over the place. Maybe a quick search/replace to fix this in the short term. :(

[2017-05-27 03:15] #18 closed

[2017-05-27 03:15] #15 closed

[2017-05-27 03:18] mubaris commented on #6
@maiquynhtruong Instead of showing all usernames in the main page, we should move it to something like preferences.

We should add a preference icon on the right/left side. Then When user clicks it, We show the `swal` to add/remove/modify current usernames.

@maiquynhtruong If you are working on this keep this in mind.

[2017-05-27 05:24] mubaris opened #28 "Write Tests"
Both browser and javascript testing will be helpful.

[2017-05-28 15:47] raulvillares commented on #20
If we use a JS Framework I think it should be the most simple and easy. Seems like Vue to me.

[2017-05-29 12:46] mubaris commented on #20
I've never used any of these frameworks - **Angular / React / Vue**. If you have any experience with **Vue** you could help.

[2017-05-29 14:30] raulvillares commented on #20
I've only used Angular (versión 2+) in a small project. I think it introduces an unnecessary complexity for a project like this (at least for now).

Vue.js is way much simple (for what I have seen). I think we should go on with vainilla javascript for now and to considere the option of a JS framework if it turns out really necesary.

[2017-05-30 23:19] asiyani commented on #20
Hi all,

I would like to help with the backend.  I am new to Node.js but do some experience with that.
I can help with Node.js/Express.js and MongoDB.

Please let me know how can I help.  what you guys looking for as backend. I mean just to a server to send files or Do API calls to GitHub.

[2017-05-31 07:30] mubaris commented on #20
Backend will be needed for Persistent storing of data. Username array and caching API results.

[2017-05-31 16:56] asiyani commented on #20
Ya, that makes sense. I would like work on it.  I think we need to approach this in the following steps.

1. I will add node/express backend and required settings. at this stage, node will just send existing public files(index.html) to the client.
2. We need to discuss MongoDB schema, based on queries you want do run on DB.
3. Move GitHub API calls from the client to the server.
4. add own API cal

[2017-06-01 04:57] mubaris commented on #20
This looks really clean.

And I really like the idea of Github authentication.

[2017-06-01 06:15] raulvillares commented on #20
What about the hosting of the application once those changes are implemented? Do you know something about that?

[2017-06-01 06:17] mubaris commented on #20
I have few credits on DigitalOcean. That seems like a good choice. What do you say?

[2017-06-01 06:31] raulvillares commented on #20
Sounds good to me as a starting point! We will be attentive in case we need something more/different in the future.

[2017-06-01 07:51] mubaris commented on #20
@raulvillares Should we move this repo to a Github organization. And should we change the name of the app?

[2017-06-01 10:11] asiyani commented on #20
@mubaris i think its good idea. Name should be fine as it is now. But need to find domain name and then change name of app if needed

[2017-06-01 10:16] mubaris commented on #20
@raulvillares @asiyani I will move this repo to a new Github Organization. After I've done that, I will post the details here.

[2017-06-01 10:26] asiyani commented on #20
If you don't mind search for domain name as well. If app needs changing name then we can do both together

[2017-06-01 10:27] mubaris commented on #20
@asiyani You can suggest me a good name :smiley:

[2017-06-01 10:40] asiyani commented on #20
Lol.. I m not good with name... :-)

[2017-06-01 11:21] mubaris opened #32 "Icon for Organization & Project"
Since I haved moved the repo, we need an icon for repo & organization.

Any Ideas?

CC: @alejandronanez @maiquynhtruong @raulvillares @asiyani

[2017-06-01 11:51] alejandronanez commented on #32
This is such a complicated question for me haha!
What about a magnifying glass - when you're curious you look for something.

[2017-06-01 11:57] alejandronanez commented on #20
I love this idea!

I think we can think about a domain name and do some research on namecheap.com then we can discuss on gitter.

I have experience with Node too @asiyani feel free to ping me if you need something.

I think VUE or React will be just fine, we don't need something super heavyweight like Angular/Ember for this.

[2017-06-01 11:58] alejandronanez commented on #28
I think for this to work fine we first need to:
1. Move all the project to use modules #17
2. Maybe pickup a JS framework as we talked here #20 so we will know what test strategy to follow

[2017-06-01 12:00] alejandronanez opened #34 "Create a Github project for the sake of organization and goals"
It will help us to create a project and start a new branch for it, the key parts I think should be there are:

- Move to webpack/rollup
- Choose a JS framework
- Write some critical unit tests

Once we have that we can start building new awesome things 💯

[2017-06-01 12:00] mubaris commented on #28
@alejandronanez I will be working on #17. I will merge the commits by tomorrow or day after that. More discussion about backend at #20. Then we take up this issue.

[2017-06-01 12:03] alejandronanez commented on #17
I think UMD and ES modules are the way to go here. :)
Ping me if you need something @mubaris

[2017-06-01 12:04] mubaris commented on #34
@alejandronanez I promoted you as an Owner of this organization. I don't have any experience with Github Projects. Maybe you could help with that.

[2017-06-01 12:05] alejandronanez commented on #34
@mubaris sweet.

[2017-06-01 12:07] mubaris commented on #17
@alejandronanez I was reading about `Webpack` for this issue. Is it okay to go with Webpack?

[2017-06-01 12:08] alejandronanez opened #35 "Choose a JS framework"
We have mentioned 2 frameworks for this:
- Vue
- React

[2017-06-01 12:10] alejandronanez commented on #17
Webpack is a good choice IMO.
Webpack is better for apps and Rollup for libraries.

[2017-06-01 12:11] alejandronanez opened #36 "Create a branch for start working on the new features"

[2017-06-01 12:12] alejandronanez commented on #36
I already created:

https://github.com/curiositylab/curiosity/tree/v2

[2017-06-01 12:12] #36 closed

[2017-06-01 12:12] alejandronanez opened #37 "Update Readme with instructions"
Instructions about contributing, branching, etc.

[2017-06-01 12:13] mubaris commented on #32
@alejandronanez We will wait for others opinions :smile:

[2017-06-01 12:22] alejandronanez commented on #34
The project already exists. https://github.com/curiositylab/curiosity/projects/1

Closing this.

[2017-06-01 12:22] #34 closed

[2017-06-01 12:22] alejandronanez commented on #20
About the front end framework we should move the discussion to: #35

[2017-06-01 12:43] maiquynhtruong commented on #32
I guess you should put an octocat in the logo if you plan to use github API more in the future. Name-wise, a magnifying glass sounds good to me. I originally thought of a question mark but a magnifying glass looks better

[2017-06-01 12:45] mubaris commented on #32
@maiquynhtruong We need something unique. I like the octocat one. But, it just not unique. Maybe we should use Magnifying Glass over an Octocat :smile:

[2017-06-01 12:45] alejandronanez commented on #32
Maybe you can find a good octocat here @mubaris @maiquynhtruong https://octodex.github.com/

[2017-06-01 12:50] mubaris commented on #32
We cannot use any kind of Octocat in our application. It's clearly mentioned in the [FAQ Section](https://octodex.github.com/faq.html)

[2017-06-01 12:51] alejandronanez commented on #32
@mubaris yeah you're right about that, what a bummer!

[2017-06-01 13:09] alejandronanez opened #38 "Add All Contributors to the repo!"
Let's show some love to the people that have contributed in any way to this repo!

We should follow this, https://github.com/kentcdodds/all-contributors

I think this is a good PR for someone looking for his/her first contribution to OSS 🥇

[2017-06-01 13:16] raulvillares commented on #28
For JS unit testing I've found this article interesting:

https://medium.com/javascript-scene/why-i-use-tape-instead-of-mocha-so-should-you-6aa105d8eaf4

[2017-06-01 13:50] mubaris commented on #38
I think this is a good idea. Yeah, we should leave it for someone to do their first contribution.

[2017-06-01 13:53] alejandronanez commented on #17
@mubaris let me know if you need any help setting up webpack.

[2017-06-01 14:06] mubaris opened #39 "Add Preference button"
We need to add a preference button on the right side. It will be used for managing usernames.

- [x] Remove username management from the main page
- [x] Add a preference button on the right side. Preferably `font-awesome`
- [x] Move username management to preference

[2017-06-01 23:00] alejandronanez commented on #20
@asiyani is helping us with this on #40

[2017-06-02 02:47] maiquynhtruong commented on #37
Or just update README in general. I think the picture should be updated.

[2017-06-02 08:32] raulvillares commented on #32
https://logomakr.com seems like a good online tool for easily create logos. It's free but they ask to provide credit for using the graphics. Some test I just made:

![logomakr_4dwokf](https://cloud.githubusercontent.com/assets/19681704/26717671/82900d7c-477e-11e7-94bd-16f191227874.png)

[2017-06-02 12:37] alejandronanez commented on #32
Hey I like that one @raulvillares !

[2017-06-02 13:54] mubaris commented on #32
@raulvillares I like that one

[2017-06-03 00:19] asiyani opened #42 "db Modeling and db related discussion."
There are few topics we need to discuss regarding the database.
[code]
[code]

[code]
**Questions**
  1. is properties of each schema is enough or do we need to store more data related to each collection.
  2. relationship between username and repository Schema? Embedded, one-to-N or N-to-N?
  3. DB server for development -  local mongo OR mlab?

I think
1. userSchema & repositorySchema is fine bu

[2017-06-03 16:37] alejandronanez commented on #35
Also vanilla JS is an option too, this app is not complex enough for adding react/vue or anything else on top (not even jquery maybe) http://youmightnotneedjquery.com/

[2017-06-03 17:01] asiyani commented on #5
Ya, need to Add Login/logout button as well.
Once we build backend result will come from the server via API, and we can control the number of results that way.
Also what about adding D3, show some sorts of graphs kind of like stats for GitHub. Not sure how much data we will have to do that in a first place...

[2017-06-04 07:07] mubaris commented on #5
@asiyani We need to add Login/Logout buttons, maybe @maiquynhtruong could work on that

I have an idea for vizualizations, instead of redirecting the link of project to github, we can show the visualizations for that repo using **D3.js** and **Github API**. It can include commit history, active contributions, code frequency, etc.. What do you think?

CC: @alejandronanez

[2017-06-04 07:08] mubaris commented on #35
Vanilla JS is always an option.

[2017-06-04 13:24] alejandronanez commented on #5
Hey! Great ideas! I really like them!

[2017-06-05 09:51] alejandronanez opened #43 "ESLINT errors down to zero!"
We can do this gradually!

[2017-06-05 09:52] mubaris commented on #43
Yeah, it should be done.

[2017-06-05 09:53] alejandronanez commented on #43
I think it would be nice to get rid of aaaaall the eslint errors (I think we have a TON). But doing that in one PR maybe too much. I'm ok if we do this gradually, one PR per file or something like that!

For this to be a thing, we need #17 to be merged in `V2` first. BTW

[2017-06-05 09:57] alejandronanez opened #44 "Tooling for V2"
Once #17 got merged in V2 we should start doing:

- [ ] eslint for each file
- [ ] some critical unit tests
- [ ] integration with TravisCI or CircleCI (I already have experience with that)

# Pre requisites
- [ ] Merge #17 into V2

[2017-06-05 09:57] mubaris commented on #43
@alejandronanez Since I'm having some issues, #17 might take more time to finish. I'll try to send a PR as soon as I can.

[2017-06-05 10:07] alejandronanez commented on #43
@mubaris yeah don't feel rushed about it. I just had this on my mind and wanna make sure I don't forget!

[2017-06-05 10:08] mubaris commented on #43
Cool

[2017-06-05 10:18] alejandronanez commented on #17
Actually @mubaris if we decide to go with React #35 ...we should ended up rewriting the whole thing...and if that's the case, we can just use `create-react-app`

[2017-06-05 10:33] maiquynhtruong commented on #5
Why do we need to store people's credentials? We only need their tokens. Is there some levels of access when viewing repos?

[2017-06-05 10:39] raulvillares commented on #17
I don't know much about Webpack, but I've just modularized a [small vanilla js puzzle-game](https://github.com/raulvillares/vanilla_3sacrowd) with [Require.js](http://requirejs.org/) and I'm happy with that. If vanilla js is still an option for issue #35 maybe we can consider Require?

[2017-06-05 10:46] alejandronanez commented on #17
@raulvillares
Just to mention that for the learning experience I find way more valuable to have Webpack in our stack rather than RequireJS.
Plus, RequireJS is just a way to manage our dependencies, it doesn't give us all the niceties that webpack offers: ES Modules / ES6 / Treat everything as a module (images, fonts, css) / tree shaking, etc...

[2017-06-05 10:58] raulvillares commented on #32
I'm afraid we may not be allowed to use this logo because there's a octocat behind the hat and glasses. What do you think?

![image](https://cloud.githubusercontent.com/assets/19681704/26781417/a673f808-49ee-11e7-9db2-07883769cae5.png)

Maybe I can work on something related to a spy octopus? (though graphic design it's not really my thing...):

![image](https://cloud.githubusercontent.com/assets/1

[2017-06-05 11:06] alejandronanez commented on #32
Your skills are better than mine for sure haha. I like the octopus.

[2017-06-05 11:06] raulvillares commented on #17
Yeah, I guessed Webpack was wider than Require.

[2017-06-05 15:48] asiyani commented on #5
@maiquynhtruong ya we just need loginID,githubID, name and token that's it. Other only if we want to use it in our website like avatar link just in case we want to show profile pic once User is logged in.

[2017-06-05 19:46] vvvdeep commented on #39
Hey @mubaris , I can work on this if no one started yet.

[2017-06-06 00:39] mubaris commented on #39
@vvvdeep We appreciate your contributions. But @maiquynhtruong is already working on it. But you can work on #38. It's very easy to do it. Be sure to contact us on Gitter if you have any problems. We always welcome new contributors. Thank you.

[2017-06-06 15:46] vvvdeep commented on #39
Thanks @mubaris .
I am starting on #38

[2017-06-06 18:39] vvvdeep commented on #38
@mubaris @alejandronanez , created a PR for this #46 . Let me know what you think.

[2017-06-07 04:00] maiquynhtruong commented on #32
I still want the octocat. But I think we can use something with a search icon (magnifying glass) to show the nature of searching for github repos 😃

[2017-06-07 04:26] maiquynhtruong commented on #5
@mubaris @asiyani I really like the ideas of using _d3.js_. We should consider using it.
But how would we show image for a repo? I know we can show image for user avatar but most repo don't have icon.
@mubaris what is your idea for visualization?

[2017-06-07 06:02] #38 closed

[2017-06-07 06:04] mubaris commented on #5
We can show something similar to Github Insights (Graph) like commit frequency, commit history, etc..

[2017-06-07 06:11] #6 closed

[2017-06-07 06:11] #39 closed

[2017-06-07 06:20] mubaris opened #47 "Settings button isn't working on chrome"
The settings button was introduced in #41

It's not working on Chrome in our fork. But the [original fork](maiquynhtruong.github.io/curiosity) is working. We have to fix ASAP.

Maybe @vvvdeep or @maiquynhtruong can work on this

[2017-06-07 06:23] maiquynhtruong commented on #47
Sure I'll take a look

[2017-06-07 06:41] mubaris commented on #42
1) I don't think we need to collect more info about the stargazers. We need their username and preferably followers or something like that. Not more than this.

2) If we store the repos as array of the format `authorUsername/repoName`, for example if `tj` starred `curiositylab/curiosity` and `addyosmany/xyz` ... we can do like this,

[code]

Is that efficient.

3) Local DB is okay dev stage :smile

[2017-06-07 07:08] asiyani commented on #42
[code]
But then repos array can have thousands of entry for each stargazers(username).

Question: - How are quering GitHub at the moment. I know that we are querying each stargazer but is there any sort or filter while doing API call to Github?

In NoSQL you design database based on Queries you will be doing.

[2017-06-07 07:32] raulvillares commented on #42
No, there is no real query filter at the moment. In case the user selects a language, the [array filter function](https://www.w3schools.com/jsref/jsref_filter.asp) is used, but it's applied **once you query all projects** starred by each user.

[code]
When a language is selected, I tried to query just the projects developed with thath language bit It seems like there is no language parameter at [G

[2017-06-07 07:39] asiyani commented on #42
Ok let just start by writing down queries we think we will be doing to DB.
1. get all repo of say.... 'tj'
2. get all repo written in  'Javascript'
3. get repo which is starred by all/most stargazer.
4. get repo which is updated in last 24/48h.
(there repo means starred repos)

anything else you guys can think of.....

[2017-06-07 08:39] raulvillares commented on #32
@maiquynhtruong I'm afraid [we can't use the octocat](https://octodex.github.com/faq.html).

I got some more ideas. Maybe we can choose a not so bad icon for now, just to get rid of the ugly default one.

[Option 1](https://logomakr.com/1sPrc0)

![image](https://user-images.githubusercontent.com/19681704/26869438-c3648d0e-4b6c-11e7-96dc-00d1fa37841e.png)

[Option 2](https://logomakr.com/5OZJ7B)

!

[2017-06-07 10:34] mubaris commented on #32
I like the option 3

[2017-06-07 12:23] alejandronanez commented on #32
I like option 3 too. Awesome work @raulvillares

[2017-06-07 14:49] raulvillares commented on #32
We got a winner.

I've just change the icon. It's problaby a good idea to keep somewhere the file and the [link to modify it](https://logomakr.com/8ShF2G).

![image](https://user-images.githubusercontent.com/19681704/26884883-2d4d373c-4ba1-11e7-8148-2a52a0e313d2.png)

[2017-06-07 15:29] alejandronanez commented on #32
Thanks for the initiative Raúl, this is what makes open source great!
On Wed, Jun 7, 2017 at 9:49 AM Raúl Villares <notifications@github.com>
wrote:

[2017-06-07 18:08] maiquynhtruong commented on #32
@raulvillares I understand Github doen't allow the use of octocat. I was just saying the perfect logo would include an octocat but since we can't have it, we need to use something else.

Option 3 looks good to me too. Thanks for the great work :smile:

[2017-06-08 07:07] mubaris commented on #37
Welcome to `Curiosity`. Be sure to take it. Always good to see new
contributors. If you have any doubts, let us know.

On Jun 8, 2017 12:34 PM, "Elia Ahadi" <notifications@github.com> wrote:

[2017-06-08 10:45] mubaris commented on #42
@alejandronanez What do you think about this?

[2017-06-08 10:55] alejandronanez commented on #42
1 & 2. Have you tried querying the graphql endpoint instead of the rest endpoints? GQL helps us to 'filter' what data we get back from the server.
3. Local db is fine! 😊

[2017-06-08 10:56] alejandronanez commented on #37
@elia314 go for it! Welcome

[2017-06-09 07:33] asiyani commented on #42
@alejandronanez good shout about GQL, don't know how to do that. 😉  but it will be fun to learn. 😄

I think instead of creating an array of repos in `usernameSchema` we should add usernames to repos schema....
[code]

In this way we don't have to search username() collection at all, we can just query repository collection. Of course, this will only work if githubLogin are unique and I am sure they

[2017-06-09 07:55] mubaris commented on #47
@maiquynhtruong What is the progress on this?

[2017-06-09 07:56] mubaris commented on #42
I like this new way of storing repository details. Easy to get details.

[2017-06-09 07:58] mubaris opened #49 "New Ideas for v2"
This will be an open thread for all your new ideas for v2.

CC: @alejandronanez @asiyani @raulvillares

[2017-06-09 08:09] mubaris commented on #49
I have few thoughts,

* Repository visualizations - As we discussed earlier, we will implement repository visualizations. When the user clicks the project link, instead of taking them to Github repository we will show all the info about that repository. We can include *Commit History, Commit Frequency, Language Breakdown, Size, Liveliness etc.*

* Rating system for repositories - For logged in use

[2017-06-09 09:44] alejandronanez commented on #42
@asiyani I like this new approach too. I have experience with GQL, let me know if you hit any roadblock or something.
FWIW you don't need any fancy framework to use GQL, so I suggest just to keep it simple at the beginning.

[2017-06-09 09:51] alejandronanez commented on #49
Hey @mubaris, those sound like really good ideas to me and a really good start. As I see, we're growing in complexity. What do you guys think about splitting our repos? what I mean by this is having a `curiosity-api` and a `curiosity-client`, that way we can move on without that tight dependency between frontend/backend + if someone wants to just use the API for its own implementation it would be

[2017-06-09 09:56] mubaris commented on #49
I'm okay with splitting up into different repos. I don't have complete experience with any frontend framework. But I've been learning React last few days. So, I'm okay to go with React.

[2017-06-09 10:06] alejandronanez commented on #49
Also, this would be a good learning experience for everybody :)

[2017-06-09 11:21] asiyani commented on #42
Good then we will go with this scheme.
Before we go GQL for our client. we need to work on github API to populate data.
I will start with that first so we have some data to send via GQL.

[2017-06-09 11:32] asiyani commented on #49
I got mixed feelings about 2 repo.  Single repo is more convenient.
in terms of working on front and back end together, We got different folders `public` and `server`  so I think it's kinda separate. Then again I am kinda 50-50.
One thing we can do is design back-end in a way that in future if we separate client and backend there should not be that much work. And I think this will happen becz apar

[2017-06-09 11:36] mubaris commented on #49
@alejandronanez I don't know how do we convert this app into React app.

[2017-06-09 11:52] alejandronanez commented on #49
@asiyani I got mixed feelings too but I think if we're going to design the app to be API based I don't see why the client should live inside the backend app, it should be easier to test/deploy/add CI/CD if we split into both projects (a lot less overhead). Also, makes it easier for new comers interested on contributing to do some work, for example, if someone only wants to do backend, they can do

[2017-06-09 12:07] maiquynhtruong commented on #47
I just looked at that now and it seems like an easy fix. So I'll make a PR shortly.

[2017-06-09 12:22] maiquynhtruong commented on #49
I saw this idea:

Isn't it something already exists on github in the exploratory or trending section? why do we need to add this feature?

[2017-06-09 12:22] mubaris opened #51 "Username Add/Remove issues"
Add new username in Settings button is not working. If I try to add a new username, it says `Username not found`.

CC: @maiquynhtruong

[2017-06-09 12:27] maiquynhtruong commented on #51
looks like there is no quick fix.
Why don't you request changes on my PR?

[2017-06-09 12:27] mubaris commented on #49
You can only star a repository, based on number of stars in a week, Github generates Trending section. The rating system I proposed is different. You will be able to rate a repository out of 10 based on its code style, quality of documentation and other metrics.

You're right. There's already a tagging system. But nobody tags a repo based on its code difficulty. That's main reason for tagging syst

[2017-06-09 12:31] mubaris commented on #51
We already merged those PRs. That's the reason for the issue. I think it's due to limit of API requests. You are checking for the validity of username before adding it. You need to include the Token in there. That's all.

[2017-06-09 12:36] alejandronanez commented on #49
I think keep track of metrics like 'quality' and 'difficulty' is almost
impossible because it depends solely on the person reading the code. Plus,
not all languages have a 'standard' for what is good or bad, for example,
javascript can work with or without semicolons most of the time, quotes,
double quotes, etc...
On Fri, Jun 9, 2017 at 7:27 AM Mubaris NK <notifications@github.com> wrote:

[2017-06-09 12:37] maiquynhtruong commented on #49
Looks cool. Let's create some scenarios. Who do you think this features would benefit? I used to have a problem when looking for new repo to contribute to. I want that repo to be in early stage of development, has recent commit or was recently created, and the code style isn't to difficult. Based on that, I would love to have a tagging system for beginner-friendly, good-community, and a technology

[2017-06-09 12:40] maiquynhtruong commented on #51
if your token is above the API request limit, shouldn't you need to get a new one?

[2017-06-09 12:42] maiquynhtruong commented on #17
Are we still using webpack or React? Have we decided on something to use yet?
Include @asiyani in here

[2017-06-09 12:42] maiquynhtruong commented on #32
I think we should close this one because we have a lot of issues right now.

[2017-06-09 13:02] alejandronanez commented on #17
Nothing has been defined yet, we have that conversation split between different threads _sighs_ take a look at #49

[2017-06-09 13:03] alejandronanez commented on #49
Haven't thought about that, good point!

[2017-06-09 14:23] mubaris commented on #51
For checking, we are calling API without token.

Example:- `api.github.com/users/mubaris`

We need to change to something like this

`api.github.com/users/mubaris?access_token=${tokenVar}`

[2017-06-09 14:25] mubaris commented on #32
Yeah, we should close this.

Thanks @raulvillares for your awesome work.

[2017-06-09 14:25] #32 closed

[2017-06-09 14:28] mubaris commented on #49
Good point.

[2017-06-09 14:33] mubaris commented on #51
I noted one more thing. Username array is still not persistent. You can add/remove usernames, but it just removes when you refresh.

[2017-06-10 06:55] elia314 commented on #37
I updated it on this fork and created a pull request. However, I cannot add reviewers, not sure how to do that. Any thoughts?

https://github.com/curiositylab/curiosity/pull/53

[2017-06-10 07:17] mubaris commented on #37
I've closed #53

Points to be noted.

* This is a web app. This is not a chrome extension. Chrome extension is based on logic of this app. That's completely different thing. You don't need to edit the `Get Chrome Extension` part.
* Do not move badges to another section.
* Rename `Tools I used` to `Dependencies`. This section is the list of libraries/frameworks/tools which are dependencies of `Curi

[2017-06-10 12:15] alejandronanez commented on #37
Hmmm...I think you covered everything here.

You can still send multiple commits @elia314 when we merge your PR we will sqash everything into one commit, so that's fine. Let me configure that @mubaris

[2017-06-10 14:24] alejandronanez commented on #37
@mubaris do you think we can re-open #53 and just request changes to @elia314?
Now the only way to merge is by using the `Squash and merge` button.

[2017-06-10 14:27] mubaris commented on #37
Cool

[2017-06-10 16:33] elia314 commented on #37
I updated it in pull request #55, I didn't know what image you wanted for
"Peek at Curiosity" though. I also didn't know how to merge updates into
old pull requests #53.

I'm still very new to this, please provide any feedback and I'd be happy to
continue updating. Thanks again.

On Sat, Jun 10, 2017 at 7:27 AM, Mubaris NK <notifications@github.com>
wrote:

[2017-06-10 19:18] maiquynhtruong commented on #37
@elia314 I think an updated image of the current version of this project is good enough. Something like this http://i.imgsafe.org/c45b215899.jpg

[2017-06-11 03:27] elahi-arman opened #56 "Images served as Mixed-Content (from insecure origin)"
Although https://curiositylab.github.io/curiosity/ has  a proper certificate, it loads images over the Mubaris CDN. Either Mubaris needs an updated certificate, or serve the images through Github as well.

[2017-06-11 03:54] mubaris commented on #56
In the beginning I was only one who is maintaining this project. And I was hosting under my domain name. Now things have changed.

We need to have a repo like [this one](https://github.com/nybles/emoji). Just like that one. And activate github pages. Then change links accordingly. Then it will work.

Feel free to take this issue. If you want to do this, I'll invite you to the organization.

[2017-06-12 15:31] #37 closed

[2017-06-13 01:25] Chris-Coffman commented on #51
Should the username array be stored differently to allow for long term modification of user preferences? Perhaps storing the array in a cookie after the user sets their api token.

[2017-06-13 01:28] mubaris commented on #51
We want to store this username array in `localStorage`

[2017-06-13 01:30] Chris-Coffman commented on #51
But I take it you're ok will removing it from the current const array?

[2017-06-13 01:32] mubaris commented on #51
The current const array is the default array. It's the fallback. If we are storing it in `localStorage` user can play with it. And if the user removes it from `localStorage`, we will reset `localStorage` from const array.

[2017-06-13 01:37] Chris-Coffman commented on #51
OK, I see. What if the user wants to remove one of the defaults? Or are you content that if the users removes a default it will never be remembered after the session ends?

[2017-06-13 01:39] mubaris commented on #51
User can remove elements of the default array, but user cannot remove the array from `localStorage`. If the user does that, we will restore it from default const arrar.

[2017-06-13 01:49] Chris-Coffman opened #58 "Language selection does not work."
Currently when selecting a language to sort by the page updates to say it's currently fetching the data but once that finishes the list of projects does not re-render. I've just started looking at this project so I'm not sure where the issue is, if I have time I'll dig into it more.

[2017-06-13 01:56] maiquynhtruong commented on #58
How did you run it? Did you run it in the master branch or at [https://curiositylab.github.io/curiosity/](https://curiositylab.github.io/curiosity/) ?
I don't think `master` branch is updated anymore
The link is hosted on github pages. Any updates to the branch `gh-pages' will update that website.

[2017-06-13 01:59] maiquynhtruong commented on #51
@mubaris I think I know why it didn't run on yours. You might be accessing the web app through https://curiositylab.github.io/curiosity/. I tried that one too and it didn't save the username either.

Anyway I've added token to api calls and remove the line `localStorage.setItem('usernames', JSON.stringify(USERNAMES));` at `if (accessToken)`. That line resets the username array in `localStorage` ev

[2017-06-13 02:04] maiquynhtruong commented on #47
Is this still an issue? Should we close it? @mubaris

[2017-06-13 02:06] Chris-Coffman commented on #58
I used both to test it, neither worked for me.

[2017-06-13 02:20] mubaris commented on #47
We should close it. Next time you send PR for issues, write `closes #issueNumber` or `fixes #issueNumber` in the description.

[Closing issues via commit messages](https://help.github.com/articles/closing-issues-via-commit-messages/)

[2017-06-13 02:20] #47 closed

[2017-06-15 10:33] alejandronanez commented on #49
Any updates on this guys? thoughts about two repos? having all in the same place? etc... I'm still strong about separating client and backend.

[2017-06-15 11:06] asiyani commented on #49
@alejandronanez one last thing to consider on this is Newcomers( beginners ). I think they will find it difficult to see the overall picture of what's happening. They will need to clone 2 repos and run 2 servers...
without this they might not understand whats happening either on front end or backend.

[2017-06-20 02:41] mubaris commented on #49
@alejandronanez @asiyani I think seperating this repo into 2 for frontend + backend will be more advantageous.

### Advantages

* Easy to scale
* Easy to deploy
* We will have 2 small codebases
* Easy to run CI
* We can have multiple instance of client apps using different frameworks (Angular/Vue/React)

### Disadvantages

* Referencing pull requests
* Documentation

Based on above points, I don't

[2017-06-20 03:37] alejandronanez commented on #49
That being said, I'll create a curiosity-client repo this week so we can start working there for the client side code. Also, when that's donde we can close the PR for webpack that you've been working on @mubaris.

I think React would be a good choice for that due it's short learning curve + simplicity + solid community + tons of documentation and examples out there.

[2017-06-20 04:18] mubaris commented on #49
Go for React. Are we rewriting from the beginning?

[2017-06-20 04:19] alejandronanez commented on #49
I think that we will ended up rewriting a ton tbh. 💪🏼
On Mon, Jun 19, 2017 at 11:18 PM Mubaris NK <notifications@github.com>
wrote:

[2017-06-20 14:10] alejandronanez commented on #49
@mubaris @asiyani here's the repo https://github.com/curiositylab/curiosity-client

[2017-06-20 23:30] maiquynhtruong commented on #49
If you guys are doing React, can I still join?

[2017-06-21 00:54] alejandronanez commented on #49
@maiquynhtruong you can't :( haha off course you can!!! And yes we're doing React. 😎

[2017-08-14 07:38] #51 closed

[2017-08-14 09:24] AvaniVerma opened #64 "hould"
Steps to reproduce
1. Add anything random as access token

Result : We get a screen saying fetching results. However, all that happens is failed requests.

In ideal conditions, we should see an error and ask the user to re-enter the access token.

[2017-08-30 04:30] masiama commented on #35
Maybe [headland](bitbucket.org/verypositive/headland)?

[2017-09-09 10:23] jakubkarabula commented on #64
Hello @AvaniVerma

I looked into this issue but I saw that you put v2 tag on it. In v2 you are using passport js and call `/user` address to get user information and token for github. To some extent it ensures that the token is correct otherwise you won't login.
Nonetheless you can put extra check by calling general github API url `https://api.github.com/?access_token=${accessToken}` when token is

[2017-09-10 00:13] mubaris commented on #64
Doing a single PR for both will be better

[2017-09-11 07:10] jakubkarabula commented on #64
Hi @mubaris I don't really understand what you mean here by a single PR for both, the code for v1 and v2 is different now so it have to be separate commits (not cherrypicked)

[2017-10-02 00:02] collinsnji commented on #5
**Here's an idea:** Show a message on the user's screen when he clicks the 'cancel' button when prompted for the access token. It currently doesn't say anything and if the user clicked cancel by mistaken, she/he could have the impression that the app is broken

[2017-10-05 01:41] jearl4 commented on #43
Hope y'all don't mind if I ran eslint and cleaned up a few of the errors. Have a PR out there with the changes and will start work on the emoji file later.

[2017-10-05 20:32] kriswep commented on #64
wouldn't it be nicer if an [OAuth app](https://developer.github.com/apps/building-integrations/setting-up-and-registering-oauth-apps/) would be set up?
Then users wouldn't have to generate acces tokens and wonder over necessary scope settings at all.

[2017-10-10 01:46] mubaris opened #70 "Change README"
Change addresses and screenshots in the README

[2017-10-10 02:15] LeonardoBonetti commented on #70
Hey Mubaris, i did a pull request, but I dont know if is what you asked. I just found two broken links in the README and i change one, that is correctly? please send me a feedback(i'm a newbie contributor).

[2017-10-20 03:49] maybebored commented on #70
what do you mean addresses?

[2017-10-20 06:37] mubaris commented on #70
We recently changed web addresses of the app.

[2017-10-20 09:03] maybebored commented on #70
Please check the latest pull request

[2017-10-22 18:20] kristinn93 commented on #44
I'm working on running eslint on every *.js file

[2017-12-04 01:58] BrandonKlotz commented on #35
@alejandronanez I would love to help and contribute. I would be able to add the most value in React. Let me know if you decide on a framework I'd like to help build components.

[2018-01-03 04:48] sompylasar opened #75 "Confusing project name when repository author/organization isn't shown"
Example of a confusing name:
[code]
in fact, it's https://github.com/json-iterator/go , so having a full name would be less confusing:
[code]

Refs https://github.com/mubaris/curiosity/issues/49

[2018-01-03 04:48] sompylasar commented on #49
https://github.com/mubaris/curiosity/issues/75 Confusing project name when repository author/organization isn't shown

[2018-01-03 04:50] sompylasar commented on #75
Where the author/organization name equals the repository name, one of them can be omitted. Example:
[code]
which is https://github.com/probot/probot

[2018-01-03 05:15] mubaris commented on #75
Are you saying that "Curiosity" is a confusing name?

[2018-01-03 06:40] sompylasar commented on #75
@mubaris Of course not! Confusing is what it shows. A project named "json-iterator/go" (makes sense, a JSON iterator in Go) is shown as just "go" (makes no sense to me).

[2018-01-03 06:42] mubaris commented on #75
Then, what do you suggest?

[2018-01-03 06:50] sompylasar commented on #75
@mubaris Please read again: "having a full name would be less confusing".

[2018-01-03 06:52] mubaris commented on #75
I understand this.

Do you want me to move this to an organization?

[2018-01-03 07:00] sompylasar commented on #75
I'm sorry but I don't think you hear me. It's not about "Curiosity" project name. It's about a few project names displayed in the feed.

[2018-01-03 07:03] mubaris commented on #75
Got it. Sorry about this whole confusion

[2018-01-03 07:03] mubaris commented on #75
Will update it now

[2018-01-03 07:30] mubaris commented on #75
Fixed it. Closing this issue now.

[2018-01-03 07:30] #75 closed

[2018-01-03 18:14] sompylasar commented on #75
👍

[2018-01-26 21:33] simeg commented on #64
**It should say in the README what scopes is required for the token**. I can't find this information anywhere and it's very important. If a user doesn't know what scopes to give he/she might give _all_ scopes which gives this application unnecessary power.

[2018-03-18 14:52] mehwhatever commented on #64
Is this still open?

[2018-03-19 07:04] mubaris commented on #64
@mehwhatever Yes

[2018-03-19 07:04] mubaris commented on #64
@simeg You can create a token without any scopes

[2018-04-11 15:13] lauragift21 commented on #70
Hi, it seems this is issue has already been resolved. Closing it will be helpful for other contributors.

[2018-04-12 04:43] #70 closed

[2018-09-14 05:40] meetzaveri commented on #35
If choice is react, I am happy to contribute @mubaris

[2018-10-01 16:15] Abdulkadir98 commented on #20
Hello, can I help with the backend as well? I have some experience with Node and expressJS

[2018-10-01 16:42] asabedia commented on #20
I have experience with react and express. I would love to help out.

[2018-11-24 09:56] Suneet-M commented on #43
Are all the errors resolved? Or can I contribute as well?

[2018-12-06 18:44] Suneet-M opened #80 "No option to enter a new token"
I created a Github token from the link, in the prompt for a token, when launching the site.
Then I deleted the token from github settings. But the app doesn't recognize this and ask me for a new one. It instead displays **fetching projects..** and throws **unauthorized** errors in the console.
As a user I'd know I made a mistake of deleting the token, but I need to get an option to submit a new on

[2018-12-24 18:24] whogopu commented on #20
Hey @mubaris , I know that this isn't the right place to ask but i really want to contribute to this project in any way possible. Be it on backend, frontend, writing tests or documentation.
If you need any kind of help please do let me know.

[2019-10-01 10:15] technolaaji commented on #64
[code]
so this is the function that calls for the projects for a specific user right? but the issue is that you are always getting **fetching projects** if a user provided an incorrect access token

keep in mind that if you provided a incorrect access token then it should be appeared in the console.error that is inside of the axios catch

first you should clear the child inside of the element **se

[2019-10-01 15:50] marjorinec commented on #35
Hey, I want to contribute. Did you guys choose anything? React is a good choice and I could help with it :)

[2019-10-03 18:55] asp2809 commented on #35
I think React is a good choice for v2, although I agree with @alejandronanez that the application is not that complex and hence vanilla is always a great option. In both ways, I am happy to contribute.

[2019-10-07 12:27] kushaggarwal opened #81 "UI changes"
In the current UI the changes that I foresee to be resolved are that
- When the cancel button is clicked up on the home screen it just comes up with a blank screen giving a feeling to the user nowhere to go to guide him so we can add a instruction guide for the same helping him to figure it out
-  In the second page of the project when click on remove username we get a list of usernames that appea

[2020-04-09 23:21] paulopacitti commented on #43
is this issue still open? Can I contribute?

[2020-05-21 17:55] DriesCruyskens opened #83 "Curiosity web app stuck and crashes after submitting token."
After submitting the GitHub Token, the web app hangs and crashes after a while. Chrome gives Error code: Out of Memory.

**Tested on:**
Platform: Windows 10 Pro version 1909
Browsers: Chrome, Brave, Firefox (also tested in incognito mode)

Platform: Android
Browsers: Chrome

**Steps to reproduce:**

1. Surf to https://mubaris.github.io/curiosity/
2. Follow the 'here' to generate token (tested with

[2020-10-01 15:13] devcer commented on #43
I would like to work on this. Can you assign this to me?

[2020-10-01 15:14] devcer commented on #28
I would like to work on this. Can you assign this to me?

[2020-10-02 07:33] venkivijay commented on #83
Platform: Ubuntu 20.04.1 focal
Browser: Chrome 85.0.4183.121

Experienced the same issue. Except for the error from chrome was SIGTRAP.

Update: By further digging, I found that all the request to GitHub API is pending. This may be because of the usage of `access_token` as a query param. This issue can be resolved by adding the `access_token` to the header.

[2021-09-12 18:16] ranjiitk121 commented on #81
@kushaggarwal if this is still needed to be done, I would like to work on this.

[2022-10-10 14:01] 0xClint commented on #56
Hey @elahi-arman , can I contribute?